@import "less/bootstrap.less";
@import "less/responsive.less";

.site-title a {
    .border-radius(5px);
    border: 1px solid @grayLighter;
}

.fbbutton {
    background-image: url(images/facebookButton.png);
    width: 250px; 
    height: 58px;
    background-color: transparent;
    border: none;
}

.loginPanel {
    margin: 40px auto ;
    text-align: center;
}