<div>
    <h2><a href="#/events"><i class="icon-circle-arrow-left"></i></a> {{event.name}}</h2>
    <div class="statusInput">
        <input type="text" class="input-xxlarge" ui-keypress="{13:'post($event)'}" placeholder="What are you doing at {{event.name}}?" data-ng-model="status" />
        <div class="buttonBar">
            <button class="btn btn-primary"  ng-disabled="canPost()" data-ng-click="post(event, status)">Post</button>
        </div>
    </div>
</div>
<div data-ng-repeat="status in statuses">
    <div class="eventStatus">
        <img src="" data-ng-src="{{status.profileImg}}" alt="" />
        <div class="eventStatusMessage">
            <h4 data-ng-bind="status.fullName"></h4>
            <div data-ng-bind="status.status"></div>
            <time data-ng-bind="status.date" datetime="{{status.date}}"></time>
        </div>
    </div>
    
</div>
<!--<script type="text/javascript">
    //$(function() {
    //    $("time").livequery(function() {
    //        $(this).timeago();
    //    });
    //});
</script>-->