<div>What are you doing at <span data-ng-bind="event.name"></span>?<br>
        <input type="text" data-ng-model="status"/> <button class="btn btn-primary" data-ng-click="post(event, status)">Post</button>
    </div>
<div data-ng-repeat="status in statuses">
    <div>
        <img src="" data-ng-src="{{status.profileImg}}" alt="" />
        <div data-ng-bind="status.fullName"></div>
        <div data-ng-bind="status.status"></div>
        <time data-ng-bind="status.date" datetime="{{status.date}}"></time>
    </div>
    
</div>
<script type="text/javascript">
    $(function() {
        $("time").livequery(function() {
            $(this).timeago();
        });
    });
</script>