<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=145497562308933";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<h1>Event<span class="accent">Buddy</span></h1>
<div class="lead"><p>At a large conference or event? Wondering how you and your friends should hook up for dinner? 
    Is the Twitter stream overwhelming? </p>
    <p>
    Event<span class="accent">Buddy</span> is a tool where you can share what you're doing and keep track of what your friends are doing.</p>
</div>
<div id="loginPanel">
    <div>
        <button data-ng-click="login()" class="fbbutton"></button>
    </div>
</div>
<div id="facebookPanel">
    <div class="span3 offset3 fb-facepile" data-app-id="145497562308933" data-max-rows="2" data-size="large" data-width="600"></div>
</div>
